header {
    width: 100%;
    background-size: contain;
    background-color: rgb(14, 103, 238);
    background-image: url(../img/pattern.png);
}

.logo_boolean {
    width: 20%;
    margin-top: 20px;
}

.span_titolo {
    color: grey;
}

thead {
    color: white;
}

.giallo {
    background: yellow;
}

.color_headrow {
    background-color: #2cb2e3;
}

.color_bodyrow {
    background-color: #11beee99;
}

.p_footer {
    color: grey; 
}

div {
    height: 200px;
    width: 300px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.monitor {
    background-image: url(../img/monitor.jpg);
}

.graph {
    background-image: url(../img/graph.jpg);
}
